@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes ball-diagonal {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(300px, 200px) ;
    }

    100% {
        transform: translate(0, 0);
    }
}
@keyframes boat-sail {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes moon-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes camera-wiggle {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    40% {
        transform: rotate(8deg);
    }

    60% {
        transform: rotate(-6deg);
    }

    80% {
        transform: rotate(6deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
@keyframes computer-float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }
}

.website{
    display: grid;
    grid-template-columns: 150px 1fr;
    min-height: 100vh;
}

.sidebar {
    background-image: url(../images/download__12_-removebg-preview.png);
    background-size: 20px;
    background-color: rgb(203, 227, 235);
    padding: 20px;
}
.sidebar h1{
    margin-bottom: 30px;
}
.sidebar nav{
    display: flex;
    flex-direction: column;
    gap: 15px
}
.sidebar a {
    text-decoration: none;
    color: black;
    padding: 8px;
    border-radius: 8px;
}

.sidebar a:hover {
    background-color: white;
}
.content{
    background-image: url('../images/782781978962349443.jfif');
    background-size: 100px;
    background-color: lightblue;
    padding: 30px;
    min-height: 100vh;
}
.about-header{
    text-align: center;
    margin: 50px auto 40px
}
.about-header h2{
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 15px;
    color: white;
}
.about-header p{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.interest{
    max-width: 850px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    align-items: start;
}

.about-me {
    max-width: 750px;
    margin: 0 auto 50px;
    padding: 30px;
    background-color: white;
    background-image: url(../images/image\ \(2\).png);
    background-size: 60px;
    border: 20px solid transparent;
    border-image-source: url("../images/jd.jfif");
    border-image-slice: 100;
    border-image-repeat: round ;
    border-radius: 15px;
    position: relative;
}
.about-decoration{
    position: absolute;
    width: 200px;
    right: -90px;
    bottom:-100px;
    z-index: 5;

}
.someday,
.art,
.camera,
.stories,
.random{ 
    max-width: 400px;
    margin: 0;
    padding: 25px;
    background-color: rgba(170, 195, 211, 0.911);
    border: 20px solid transparent;
    border-image-source: url("../images/Klostermühle\ Siebenborn\ in\ Maring-Noviand.jfif");
    border-image-slice: 100;
    border-image-repeat: round ;
    border-radius: 15px;
}
.camera{
   transform: translateY(200px);
   position: relative;
}
.camera-decoration{
    position: absolute;
    width: 200px;
    top:-81px;
    right: -100px;
    z-index: 5;
}
.stories{
    transform: translateY(-100px);
}
.random{
    transform: translateY(200px);
}

.about-me h2
{
    text-align:center;
    margin-bottom: 20px;
}
.about-me h3,
.art h3,
.camera h3,
.stories h3,
.random h3,
.little-things h3,
.someday h3{
    color: rgb(87, 78, 78);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.little-things p,
.someday p,
.art p,
.camera p,
.stories p,
.random p{
    color: rgb(102, 90, 90);
    font-family: 'Press Start 2P', cursive;
    line-height: 1.7;
    margin-bottom: 15px;
    font-size: 0.56rem;
}
.about-me p{
    color: rgb(102, 96, 96);
    font-family: 'Press Start 2P', cursive;
    line-height: 1.7;
    margin-bottom: 15px;
    font-size: 0.56rem;
}
.little-things
{
    position: relative;
    width: 900px;
    height: 400px;
    padding: 10px;
    background-color: rgba(170, 195, 211, 0.911);
    border: 20px solid transparent;
    border-image-source: url("../images/Klostermühle\ Siebenborn\ in\ Maring-Noviand.jfif");
    border-image-slice: 100;
    border-image-repeat: round ;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 10%;
    margin-top: 90px;
}
.little-things p {
    text-align: center;
}
.someday{
    margin-left: auto;
    margin-right: 10%;
    margin-top: 30px;


}
.little-box{
    position: relative;
    width: 100%;
    height: 230px;
    margin-top: 20px;

    background-color: rgba(127, 145, 156, 0.911);
    background-image: url(../images/image2.png);
    background-size: 200px;

   border: 20px solid transparent;
    border-image-source: url("../images/download\ \(23\).jfif");
    border-image-slice: 100;
    border-image-repeat: round ;
    border-radius: 15px;

    overflow: hidden;
}
.little-box img {
    position: absolute;
    object-fit: contain;
}
.little-ball {
    width: 100px;
    left: 30px;
    top: 30px;
    animation: ball-diagonal 9s ease-in-out infinite;
}

.little-boat {
    width: 150px;
    left: 180px;
    bottom: 30px;
    animation: boat-sail 30s ease-in-out infinite
}

.little-moon {
    width: 150px;
    right: 40px;
    top: 0px;
    animation: moon-rotate 12s linear infinite;
}

.little-luffy {
    width: 110px;
    left: 350px;
    top: 30px;
    animation: camera-wiggle 6s ease-in-out infinite;
}

.little-cam {
    width: 120px;
    left: 50px;
    bottom: 25px;
    animation: camera-wiggle 1s ease-in-out infinite;
}

.little-com {
    width: 100px;
    right: 230px;
    bottom: 90px;
      animation: computer-float 3.5s linear infinite;
}

.little-cat{
    width: 100px;
    right: 200px;
    bottom: 10px;
}
.someday ol{
    padding-left: 25px;
    margin-top: 20px;
}
.someday li{
    margin-bottom: 10px;
}