*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes phone-vibrate{
    0% {
        transform: rotate(0deg) ;
    }
    25%{
        transform: rotate(-3deg);
    }
    50%{
        transform: rotate(3deg);
    }
    75%{
        transform: rotate(-2deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.website{
    display: grid;
    grid-template-columns: 150px 1fr;
    min-height: 100vh;
}
.sidebar{
    background-image: url(../images/download__12_-removebg-preview.png);
    background-size: 20px;
    background-color: rgb(203, 227, 235);
    padding: 20px;
}
.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sidebar h1 {
    margin-bottom: 50px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.sidebar a{
    text-decoration: none;
    color: black;
    padding: 8px;
    border-radius: 8px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.sidebar a:hover{
    background-color: white;
    transform: rotate(6deg);
}
.content{
    background-image: url(../images/back.jfif);
    background-size: 60px;
    background-color: lightblue;
    padding: 30px;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guestbook-header{
    text-align: center;
    margin: 50px auto 40px;
}
.guestbook-header h1{
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 15px;
}
.guestbook-header p{
    font-size: 1.2rem;
}
.guestbook-area{
    width:900px;
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:90px;
    align-items: center;
}

.guestbook-header
{
    max-width: 600px;
    margin: 0 auto 40px;
    padding: 30px;
    color: white;
}
.message-side{
    position: relative;
    transform: translateY(-60px);
}
.guestbook-form{
    width: 500px;
    padding: 30px;
    background-color: rgba(170, 195, 211, 0.911);;
    border: 20px solid transparent;
    border-image-source: url("../images/jd.jfif");
    border-image-slice: 100;
    border-image-repeat: round ;
    border-radius: 15px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.8);
}
.guestbook-form h3{
    text-align: center;
    margin-bottom: 25px;
}
.guestbook-form form{
    border: 15px solid transparent;
    border-image-source: url("../images/Charming\ Scrapbook\ Paper\ Ideas\ Featuring\ Blue\ and\ White\ Gingham\ Checkered\ Fabric.jfif");
    border-image-slice: 100;
    border-image-repeat: round ;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.guestbook-form label{
    margin-top: 10px;
    font-weight: bold;
}
.guestbook-form input,
.guestbook-form textarea{
    width: 200px;
    padding: 5px;
    border:1px solid black;
    font-family: inherit;
    font-size: 1rem;
}

.guestbook-form textarea{
    width: 350px;
    min-height: 120px;
    resize: vertical;
}
.guestbook-form button{
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: lightgrey;
    cursor: pointer;
}
.buttons {
    display: flex;
    gap:20px;
}
.guestbook-form input:hover{
    cursor: pointer;
}
.guestbook-form textarea:hover{
    cursor: pointer;
}
.guestbook-form input:focus,
.guestbook-form textarea:focus{
    outline: none;
    border: 2px solid black;
}
.visitor-notes{
    width: 100%;
    margin: 50px auto 0;
}
.visitor-notes > h3 {
    text-align: center;
    margin-bottom: 25px;
}
.note {
    background-color: rgba(171, 184, 192, 0.911);
    border: 15px solid transparent;
    border-image-source: url("../images/Charming\ Scrapbook\ Paper\ Ideas\ Featuring\ Blue\ and\ White\ Gingham\ Checkered\ Fabric.jfif");
    border-image-slice: 200;
    border-image-repeat: round ;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}
.note span{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
}
.voicemail{
    position: relative;
    padding: 40px 25px;
    text-align: center;
    background-color:  rgba(170, 195, 211, 0.911);;
    border: 20px solid transparent;
    border-image-source: url("../images/jd.jfif");
    border-image-slice: 100;
    border-image-repeat: round ;
    border-radius: 15px;
    margin-top: 400px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.8);
}
.old-phone{
    position: absolute;
    width: 200px;
    top:-170px;
    right:-110px;
    z-index: 10;
    animation: phone-vibrate 0.3s infinite;
     filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
}
.voice-recorder{
    margin: 35px auto 50px;
    padding: 15px 20px;
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #eeeeee;
    display: flex;
    gap: 12px;
    justify-content: center;
}
.voice-recorder button{
    width: 45px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.voicemail-instruction{
    margin-top: 20px;
    line-height: 1.6;
}
.favorite-voicemails{
    margin-top:20px;
}
.favorite-voicemails > h3{
    margin-bottom: 20px;
    text-align: center;
}
.voice-note{
    padding: 15px 18px;
    margin-bottom: 15px;
    background-color: rgba(171, 184, 192, 0.911);
    border: 15px solid transparent;
    border-image-source: url("../images/Charming\ Scrapbook\ Paper\ Ideas\ Featuring\ Blue\ and\ White\ Gingham\ Checkered\ Fabric.jfif");
    border-image-slice: 200;
    border-image-repeat: round ;
    border-radius: 15px;
    text-align: left;
}
.voice-note p{
    margin-bottom: 8px;
    line-height: 1.5;
}
.voice-note span{
    display: block;
    font-size: 0.85rem;
    text-align: right;
}


footer p {
    color: white;
    text-align: center;
    margin-top: 40px;
}